
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background: rgb(230, 228, 231);
  font-family: 'Abril Fatface', cursive;
}


ul {
  font-family: 'Sura', serif;
}

nav {
  background: rgb(247, 227, 252);
  font-family: bree serif;
  height: 80px;
}


.namelogo {
  float: left;
  padding: 10px;
  line-height: 80px;
  font-family: 'Sura', serif;
  font-size: 20px;
}

li {
  display: inline-block;
  padding: 15px;
  font-family: 'Sura', serif;
}

.content {
  text-align: center;
  font-size: 25px;
  font-family: 'Sura', serif;
  margin: auto;
}

nav ul {
  float: right;
  line-height: 80px;
}

nav ul li a {
  margin: 0 8px;
  padding: 5px 5px;
  border-radius: 5px;
  font-family: 'Sura', serif;
  font-size: 18px;
}

nav ul li a:hover {
  background: white;
  transition: .5s;
}

img {
  height: 350px;
  width: 350x;
  padding: 15px;
}

.content-container {
  text-align: center;
  height: 10vh;
  width: 100%;
  margin: auto;
  max-width: 1000px;
  display: block;
}

.content {
  text-align: center;
  display: inline-block;
  margin: auto;
}

.turtle {
  height: 500px;
  width: 500px;
}

@media screen and (max-width: 680px) {
  .namelogo{
    font-size: 18px;
    text-align: center;
    width: 100%;
    line-height: 20px;
    margin: 5px 0px 0px 0px;
  }
  nav {
    background: lightblue;
    display: block;
    height: 100px;
  }
  .navigation {
    width: 100%;
    text-align: center;
  }
  .navigation ul {
    line-height: 30px;
    float: left;
    width: 100%;
  }
  .navigation ul li a {
    margin: 0px
  }
  nav ul li a {
    margin: 0px 2px;
  }
}